.activeStyle:hover{
    color:#21366c;
    transition: 0.3s;
    transform: scale(1.1);
}
.activeStyle a:hover{
    background-color: rgba(0, 0, 0, 0.658);
    color:white;
}

.activeMenu{
    position: absolute;
    top:45px;
    transition: 0.3s;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: 0.3s;
    transition-property: transform, opacity;
}

.activeStyle:hover .activeMenu{
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;

}