.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1077%26quot%3b)' fill='none'%3e%3cpath d='M278.64639156269186 653.1761885268485L345.0761276488496 550.8833653723249 242.78330449432605 484.45362928616714 176.3535684081683 586.7464524406907z' fill='rgba(28%2c 83%2c 142%2c 0.43)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M786.2662451920352 537.6372023960362L895.1986819262892 613.9125157529131 971.473995283166 504.9800790186591 862.5415585489121 428.7047656617822z' fill='rgba(28%2c 83%2c 142%2c 0.43)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M470.2733802516499-22.733549786737157L228.79767858137527 2.413918675803444 350.5274099080559 176.2619918312555z' fill='rgba(28%2c 83%2c 142%2c 0.43)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1101.6888757526626 734.9557803109952L1325.2399465656108 807.5919263320793 1174.3250217737466 511.40470949804705z' fill='rgba(28%2c 83%2c 142%2c 0.43)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1367.334%2c263.652C1398.506%2c263.288%2c1416.105%2c231.116%2c1430.52%2c203.475C1443.51%2c178.567%2c1451.241%2c150.855%2c1439.455%2c125.355C1425.527%2c95.219%2c1400.493%2c68.387%2c1367.334%2c66.76C1331.83%2c65.018%2c1297.096%2c85.526%2c1281.818%2c117.622C1268.066%2c146.512%2c1285.37%2c177.37%2c1301.539%2c204.98C1317.454%2c232.158%2c1335.841%2c264.02%2c1367.334%2c263.652' fill='rgba(28%2c 83%2c 142%2c 0.43)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M50.5565250598343 552.0882540043691L150.01300964924542 539.8765332151117 81.96718617065387 396.7976667256238z' fill='rgba(28%2c 83%2c 142%2c 0.43)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1077'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.blue-move {
  animation: blue-move 5s infinite;
}
@keyframes blue-move {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }
  50% {
    transform: translate3d(50%, 50%, 0);
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
  }
}

.orange-move {
  animation: orange-move 5s infinite;
}
@keyframes orange-move {
  0% {
    transform: translate3d(50%, 50%, 0);
  }
  50% {
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

.icon1 {
  animation: icon1 5s infinite;
}
@keyframes icon1 {
  0% {
    transform: translate3d(10%, 10%, 0);
  }
  50% {
    transform: translate3d(-10%, -10%, 0);
  }
  100% {
    transform: translate3d(10%, 10%, 0);
  }
}

.line-one {
  scale: 60%;
  opacity: 0.8;
  animation: line-one 3.5s infinite ease-in-out;
}
@keyframes line-one {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

.line-one-shadow {
  scale: 60%;
  opacity: 0.8;
  animation: line-one-shadow 3.5s infinite ease-in-out;
}
@keyframes line-one-shadow {
  0% {
    transform: scale(70%);
  }
  50% {
    transform: scale(90%);
  }
  100% {
    transform: scale(70%);
  }
}

.line-two {
  scale: 60%;
  opacity: 0.8;
  animation: line-two 3.5s infinite ease-in-out;
}
@keyframes line-two {
  0% {
    transform: translateY(20%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(20%);
  }
}

.line-two-shadow {
  scale: 60%;
  opacity: 0.8;
  animation: line-two-shadow 3.5s infinite ease-in-out;
}
@keyframes line-two-shadow {
  0% {
    transform: scale(90%);
  }
  50% {
    transform: scale(70%);
  }
  100% {
    transform: scale(90%);
  }
}

.line-three {
  scale: 60%;
  opacity: 0.8;
  animation: line-three 3.5s infinite ease-in-out;
}
@keyframes line-three {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

.line-three-shadow {
  scale: 60%;
  opacity: 0.8;
  animation: line-three-shadow 3.5s infinite ease-in-out;
}
@keyframes line-three-shadow {
  0% {
    transform: scale(70%);
  }
  50% {
    transform: scale(90%);
  }
  100% {
    transform: scale(70%);
  }
}

@media (max-width: 639px) {
  .line-one,
  .line-two,
  .line-three,
  .line-one-shadow,
  .line-two-shadow,
  .line-three-shadow {
    scale: 50%;
  }
}

.banner-img-bg {
  animation: banner-img-bg 10s infinite linear;
}
@keyframes banner-img-bg {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
}

.banner-img-bg-two {
  animation: banner-img-bg-two 10s infinite linear;
}
@keyframes banner-img-bg-two {
  0%,
  100% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(-50%);
  }
}
