.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1060%26quot%3b)' fill='none'%3e%3cpath d='M0 503.38L10 511.12L20 504.94L30 439.26L40 398.41L50 460.11L60 523.55L70 466.82L80 507.57L90 491.53L100 447.96L110 391.11L120 433.12L130 427.65L140 483.76L150 545.24L160 495.78L170 512.34L180 513.02L190 534.92L200 481.89L210 530.65L220 508.12L230 527.82L240 513.23L250 461.14L260 400.14L270 345.54L280 413.16L290 482.47L300 470.4L310 443.93L320 463.86L330 518.91L340 473.23L350 498.82L360 510.41L370 525.26L380 550.64L390 506.6L400 518.31L410 483.4L420 495.97L430 503.42L440 515.6L450 464.73L460 531.96L470 528.36L480 465.55L490 422.99L500 451.45L510 459.14L520 489.3L530 512.96L540 454.86L550 476.42L560 466.04L570 423.64L580 487.55L590 487.78L600 444.51L610 491.14L620 462.04L630 521.34L640 523.91L650 514.1L660 498.48L670 481.78L680 535.28L690 492.09L700 484.46L710 490.32L720 511.34L730 516.9L740 515.09L750 505.68L760 509.05L770 461.84L780 531.08L790 487.94L800 506.56L810 546.17L820 533.81L830 472.44L840 504.33L850 444.55L860 494.29L870 557.32L880 519.92L890 495.86L900 516.52L910 541.3L920 489.83L930 433.31L940 391.58L950 324.48L960 393.08L970 417.07L980 418.17L990 487.23L1000 483.82L1010 447.55L1020 444.04L1030 441.73L1040 391.4L1050 406.78L1060 451.54L1070 398.76L1080 368.45L1090 328.45L1100 322.3L1110 265.57L1120 280.62L1130 343.5L1140 298.3L1150 282.92L1160 261.63L1170 204.18L1180 233.08L1190 278.65L1200 290.36L1210 246.15L1220 222.88L1230 160.83L1240 104.81L1250 35.44L1260 70.05L1270 14.65L1280 6.66L1290 70.11L1300 7.02L1310 28.58L1320 93.61L1330 43.33L1340 88.67L1350 37.98L1360 42.72L1370 63.55L1380 20.55L1390 47.27L1400 16.18L1410 65.25L1420 82.56L1430 32.96L1440 102.65' stroke='rgba(34%2c 75%2c 117%2c 0.38)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 503.38L10 511.12L20 504.94L30 439.26L40 398.41L50 460.11L60 523.55L70 466.82L80 507.57L90 491.53L100 447.96L110 391.11L120 433.12L130 427.65L140 483.76L150 545.24L160 495.78L170 512.34L180 513.02L190 534.92L200 481.89L210 530.65L220 508.12L230 527.82L240 513.23L250 461.14L260 400.14L270 345.54L280 413.16L290 482.47L300 470.4L310 443.93L320 463.86L330 518.91L340 473.23L350 498.82L360 510.41L370 525.26L380 550.64L390 506.6L400 518.31L410 483.4L420 495.97L430 503.42L440 515.6L450 464.73L460 531.96L470 528.36L480 465.55L490 422.99L500 451.45L510 459.14L520 489.3L530 512.96L540 454.86L550 476.42L560 466.04L570 423.64L580 487.55L590 487.78L600 444.51L610 491.14L620 462.04L630 521.34L640 523.91L650 514.1L660 498.48L670 481.78L680 535.28L690 492.09L700 484.46L710 490.32L720 511.34L730 516.9L740 515.09L750 505.68L760 509.05L770 461.84L780 531.08L790 487.94L800 506.56L810 546.17L820 533.81L830 472.44L840 504.33L850 444.55L860 494.29L870 557.32L880 519.92L890 495.86L900 516.52L910 541.3L920 489.83L930 433.31L940 391.58L950 324.48L960 393.08L970 417.07L980 418.17L990 487.23L1000 483.82L1010 447.55L1020 444.04L1030 441.73L1040 391.4L1050 406.78L1060 451.54L1070 398.76L1080 368.45L1090 328.45L1100 322.3L1110 265.57L1120 280.62L1130 343.5L1140 298.3L1150 282.92L1160 261.63L1170 204.18L1180 233.08L1190 278.65L1200 290.36L1210 246.15L1220 222.88L1230 160.83L1240 104.81L1250 35.44L1260 70.05L1270 14.65L1280 6.66L1290 70.11L1300 7.02L1310 28.58L1320 93.61L1330 43.33L1340 88.67L1350 37.98L1360 42.72L1370 63.55L1380 20.55L1390 47.27L1400 16.18L1410 65.25L1420 82.56L1430 32.96L1440 102.65L1440 560L0 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1061%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1060'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1061'%3e%3cstop stop-opacity='0.65' stop-color='rgba(34%2c 75%2c 117%2c 0.38)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(80%2c 141%2c 204%2c 0.38)' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.blue-move {
  animation: blue-move 5s infinite;
}
.orange-move {
  animation: orange-move 5s infinite;
}
.icon1 {
  animation: icon1 5s infinite;
}

@keyframes blue-move {
  0% {
    transform: translate3d(-90%, -90%, 0);
  }
  50% {
    transform: translate3d(90%, 90%, 0);
  }
  100% {
    transform: translate3d(-90%, -90%, 0);
  }
}

@keyframes orange-move {
  0% {
    transform: translate3d(90%, 90%, 0);
  }
  50% {
    transform: translate3d(-90%, -90%, 0);
  }
  100% {
    transform: translate3d(90%, 90%, 0);
  }
}

@keyframes icon1 {
  0% {
    transform: translate3d(10%, 10%, 0);
  }
  50% {
    transform: translate3d(-10%, -10%, 0);
  }
  100% {
    transform: translate3d(10%, 10%, 0);
  }
}
