.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  margin-top: 40px;
}

.body a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.body p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  font-size: 2.5vw;
  padding-right: 2vw;
  padding-top: 16px;
  font-weight: 300;
}

@media only screen and (max-width: 448px) {
  .body {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 25px;
  }
  .body p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 449px) and (max-width: 1024px) {
  .body {
    grid-template-columns: repeat(2, 1fr);
  }
  .body p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .body p {
    font-size: 25px;
  }
}
